.block {
    margin: 30px;
    height: 200px;
    width: 200px;
    border-left: 6px dotted #9bf8bf;
    border-right: 6px solid #9bf8bf;
    border-top: 6px dashed #9bf8bf;
    border-bottom:  6px solid #9bf8bf;
    border-radius: 50%;
    animation: r 3s linear infinite;
}

.ins {
    width: 0px;
    border: 15px solid #000000;
    border-color: #110350 transparent transparent #110350;
    position: absolute;
    margin-top: 155px;
    margin-left: 15px;
}
@keyframes r {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
